@media (max-width: 767px){
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        background-image: url(img/Vectormob.svg), url(img/Star2mob.png), url(img/Star3mob.svg), url(img/Star4mob.svg), url(img/Star5mob.png); 
        background-position: 215px -81px, 45px 113px, 94px 79px, 313px 586px, 282px 552px;
        height: 648px;
    
        
        &__title {
            font-size: 40px;
            line-height: 49px;
            text-align: center;
            padding-top: 147px;
        }
        &__text {
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            padding-bottom: 36px;
            margin-left: 23px;
            margin-right: 23px;
        }
        &__btn {
            display: none;
        }
        &__Mob-btn {
            box-sizing: border-box;
            border: 1px solid rgb(32, 32, 39);
            border-radius: 60px;
            background: rgb(32, 32, 39);
            color: rgb(255, 255, 255);
            font-size: 16px;
            width: 285px;
            height: 55px;
            margin-left: 29px;
            margin-right: 29px;
            margin-bottom: 131px;
            line-height: 141.69%;
            letter-spacing: 0%;
            text-align: center;
            font-family: inherit;
            cursor: pointer;
            display: inline-block; 
            text-decoration: none;
            position: relative;
            
            &::before {
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
              }
            
        }
        &__Mob-btn {
            display: inline-block;
        }
    }
    .strip {
        height: 52px;
        padding: 0;
        gap: 28px;

        &__text {
            font-size: 16px;
            line-height: 52px;

        }
    
    }
    .games {
        display: none;
    }
    .minigames {
        padding-bottom: 48px;
    }
    .minigames-main {
        gap: 24px;
    }
    .minigames-main__product {
        max-width : 342px;
        flex-direction: column;
    }
    .minigames__title {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .minigames__itemname {
        padding-top: 29px;
        padding-left: 29px;
        padding-right: 29px;
        padding-bottom: 32px;
    }
    .minigames__caption {
        font-size: 32px;
        line-height: 39px;
        padding-bottom: 16px;
    }
    .minigames__text {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 32px;
        max-width: 282px;
    }
    .minigames__text_6 {
        max-width: 244px;
    }
    .minigames__btn {
        width: 285px;
        height: 55px;
        font-size: 16px;
        transition: 0.5s ease;
    }
    .minigames__btn:hover {
        background-color: transparent;
        color: inherit;
    }
    .subject {
        font-size: 40px;
        line-height: 49px;
    }
   .minigames__itemname_quiz {
    padding-right: 23px;
   }
       
    
    .footer {
        height: 100px;
        &__text {
            font-size: 16px;
            line-height: 20px;
            padding-top: 40px;
        }
    }





}