* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 710px;
  background-color: rgb(225, 255, 143);
  background-image: url(img/star1.png), url(img/star2.png), url(img/star3big.svg);
  background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), 240% -335px;
  background-repeat: no-repeat;
  transition: 0.5s ease;
}
.header__title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 196px;
  padding-bottom: 24px;
}
.header__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 719px;
  padding-bottom: 48px;
}
.header__btn {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  border-radius: 60px;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  width: 247px;
  height: 66px;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 156px;
}
.header__btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.5s ease;
}
.header__Mob-btn {
  display: none;
}

.strip {
  height: 90px;
  background: rgb(188, 236, 48);
  padding: 27px 49px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 51px;
  overflow: hidden;
}
.strip__text {
  color: rgb(32, 32, 39);
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}

.games {
  background: rgb(32, 32, 39);
  position: relative;
}

.games {
  background-image: url(img/Stargames.svg);
  background-position: 980px 95px;
  background-repeat: no-repeat;
}

.subject {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.games__title {
  padding-top: 94px;
  padding-bottom: 24px;
}

.games__desc {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 787px;
  padding-bottom: 72px;
}

.games-main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -moz-column-gap: 32px;
  column-gap: 32px;
  row-gap: 32px;
}
.games-main__product {
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 2;
}
.games-main__item {
  width: 378px;
  border-radius: 30px;
  background-color: #ffffff;
  display: grid;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.games-main__item:hover {
  transform: scale(1.07);
  transition: 1s;
  cursor: pointer;
}
.games-main__img {
  border-radius: 30px;
}
.games-main__itemname {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 28px;
  padding-bottom: 36px;
}
.games-main__itemtext {
  color: #202027;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: center;
  border-radius: 53px;
  background: rgb(247, 247, 247);
  width: 108px;
  min-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.games-main__itemlabel {
  padding-top: 16px;
  color: #202027;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.minigames {
  background: rgb(32, 32, 39);
  position: relative;
  padding-bottom: 144px;
  background-image: url(img/mini_Star_Up_Big.svg), url(img/Mini_Star_Up.svg), url(img/mini_star_big_down.svg), url(img/mini_star_down.svg);
  background-position: 1320px 160px, 1275px 140px, 1325px 3414px, 1255px 3474px;
  background-repeat: no-repeat;
}
.minigames__title {
  padding-top: 96px;
  padding-bottom: 72px;
}

.minigames-main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.minigames-main__product {
  background-color: #ffffff;
  border-radius: 30px;
  max-width: 1200px;
  z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.minigames-main__product_item {
  background-color: #ffffff;
  border-radius: 30px;
  max-width: 1200px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minigames__img {
  border-radius: 30px;
}

.minigames__itemname {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 48px;
  padding-right: 48px;
}

.minigames__itemname_quiz {
  padding-right: 133px;
}

.minigames__caption {
  color: rgb(32, 32, 39);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}

.minigames__text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 36px;
  max-width: 420px;
}

.minigames__text_6 {
  max-width: 496px;
}

.minigames__btn {
  border-radius: 60px;
  background: rgb(32, 32, 39);
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
}

.minigames__btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: 0.5s ease;
}

.footer {
  height: 150px;
  background-color: rgb(189, 237, 53);
}
.footer__text {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 61px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    background-image: url(img/Vectormob.svg), url(img/Star2mob.png), url(img/Star3mob.svg), url(img/Star4mob.svg), url(img/Star5mob.png);
    background-position: 215px -81px, 45px 113px, 94px 79px, 313px 640px, 282px 615px;
  }
  .header__title {
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-top: 147px;
  }
  .header__text {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 36px;
    margin-left: 23px;
    margin-right: 23px;
  }
  .header__btn {
    display: none;
  }
  .header__Mob-btn {
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 285px;
    height: 55px;
    margin-left: 29px;
    margin-right: 29px;
    margin-bottom: 131px;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
  }
  .header__Mob-btn {
    display: inline-block;
  }
  .strip {
    height: 52px;
    padding: 16px 24px;
    gap: 28px;
  }
  .strip__text {
    font-size: 16px;
  }
  .games {
    display: none;
  }
  .minigames {
    padding-bottom: 48px;
  }
  .minigames-main {
    gap: 24px;
  }
  .minigames-main__product {
    max-width: 342px;
    flex-direction: column;
  }
  .minigames__title {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .minigames__itemname {
    padding-top: 29px;
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 32px;
  }
  .minigames__caption {
    font-size: 32px;
    line-height: 39px;
    padding-bottom: 16px;
  }
  .minigames__text {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 32px;
    max-width: 282px;
  }
  .minigames__text_6 {
    max-width: 244px;
  }
  .minigames__btn {
    width: 285px;
    height: 55px;
    font-size: 16px;
  }
  .subject {
    font-size: 40px;
    line-height: 49px;
  }
  .minigames__itemname_quiz {
    padding-right: 23px;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 16px;
    line-height: 20px;
    padding-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */