* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family:
        "Montserrat", serif;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header {
    height: 710px;
    background-color: rgb(225, 255, 143);
    background-image: url(img/star1.png), url(img/star2.png), url(img/star3big.svg);
    background-position: 63px 69px, calc(100% - 344px) calc(100% - 149px), 240% -335px;
    background-repeat: no-repeat;
    transition: 0.5s ease;

    &__title {
        color: rgb(32, 32, 39);
        font-size: 64px;
        font-weight: 700;
        line-height: 78px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 196px;
        padding-bottom: 24px; 
    }
    &__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        max-width: 719px;
        padding-bottom: 48px;
    }
    &__btn {
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        background: rgb(32, 32, 39);
        color: rgb(255, 255, 255);
        border-radius: 60px;
        font-size: 24px;
        font-weight: 600;
        line-height: 141.69%;
        letter-spacing: 0%;
        text-align: center;
        width: 247px;
        height: 66px;
        font-family: inherit;
        cursor: pointer;
        margin-bottom: 156px; 
        transition: 0.5s ease;
        display: inline-flex; 
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
    &__btn:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        
    }
    
    &__Mob-btn {
        display: none;
    }
}

.strip {
    background: rgb(188, 236, 48);
    padding: 27px 49px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 51px;
    overflow: hidden;
    position: relative;
    max-width: 100%;

    &__text {
        color: rgb(32, 32, 39);
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;
        white-space: nowrap;
        position: relative;
        z-index: 1;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        pointer-events: none; 
        z-index: 0;
    
    }
    &__container {
        display: flex;
        gap: 51px;
        animation: scroll 90s linear infinite; 
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.games {
    background: rgb(32, 32, 39);
    position: relative;
}
.games {
    background-image: url(img/Stargames.svg), url(img/games_star_middle.svg), url(img/games_star_small.svg);
    background-position: 980px 95px, 48px 824px, 26px 780px;
    background-repeat: no-repeat;
}
.subject {
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
}
.games__title {
    padding-top: 94px;
    padding-bottom: 24px;
}
.games__desc {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    max-width: 787px;
    padding-bottom: 72px;
}
.games-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    -moz-column-gap: 32px;
       column-gap: 32px;
       row-gap: 32px;

    &__product {
        display: flex;
        flex-direction: column;
        gap: 32px;
        z-index: 2;
    }   
    &__item {
        width: 378px;
        border-radius: 30px;
        background-color: #ffffff;
        display: grid;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    &__item:hover {
        transform: scale(1.07);
        transition: 1s;
        cursor: pointer;
    }
    &__img {
        border-radius: 30px;
    }
    &__itemname {
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 28px;
        padding-bottom: 36px;
    }
    &__itemtext {
        color: #202027;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 110%;
        text-align: center;
        border-radius: 53px;
        background: rgb(247, 247, 247);
        width: 108px;
        min-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    &__itemlabel {
        padding-top: 16px;
        color: #202027;
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: left

    }

}
.minigames {
    background: rgb(32, 32, 39);
    position: relative;
    padding-bottom: 144px;
    background-image: url(img/mini_Star_Up_Big.svg), url(img/Mini_Star_Up.svg), url(img/mini_star_big_down.svg), url(img/mini_star_down.svg);
    background-position: 1320px 160px, 1275px 140px, 1325px 3414px, 1255px 3474px; 
    background-repeat: no-repeat;

    &__title {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

.minigames-main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    &__product {
        background-color: #ffffff;
        border-radius: 30px;
        max-width: 1200px;
        z-index: 2;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    &__product_item {
        background-color: #ffffff;
        border-radius: 30px;
        max-width: 1200px;
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
    }

    
}

.minigames__img {
    border-radius: 30px;
}
.minigames__itemname {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 48px;
    padding-right: 48px;
}
.minigames__itemname_quiz {
    padding-right: 133px;
}
.minigames__caption {
    color: rgb(32, 32, 39);
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 24px;
}
.minigames__text {
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 36px;
    max-width: 420px;
}
.minigames__text_6 {
    max-width: 496px;
}
.minigames__btn {
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 247px;
    height: 66px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    transition: 0.5s ease;
}
.minigames__btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.footer {
    height: 150px;
    background-color: rgb(189, 237, 53);

    &__text {
        color: rgb(0, 0, 0);
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0px;
        text-align: center;
        padding-top: 61px;
    }
}

@import 'mobile';
@import 'tablet';


